#section-2 {
    h1 {
        text-align: center;
    }
}

.box-timeline {
    width: 100%;
    height: 1500px;
    position: relative;
    padding: 80px 0 250px 0;
}

.ligne {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: $border-color;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $secondary-color;
    position: absolute;
    border: 2px solid $border-color;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box {
    max-width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: $secondary-color;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1000px;
    left: calc(50% + 270px);
}

.box p {
    margin-top: 20px;
}

.btn {
    display: block;
    background: $secondary-color;
    border: 1px solid $border-color;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

}