@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@700&display=swap");
header nav #navigation, header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-timeline {
  width: 100%;
  height: 1500px;
  position: relative;
  padding: 80px 0 250px 0;
  margin-bottom: 100px;
}

.ligne {
  height: 1000px;
  width: 8px;
  margin: 0 auto;
  background: #ffffff;
}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #af1b3f;
  position: absolute;
  border: 2px solid #ffffff;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* 1000 - 160 + 80 / 3 =~ 306 */
.r1 {
  top: 80px;
}

.r2 {
  top: 386px;
}

.r3 {
  top: 692px;
}

.r4 {
  top: 1000px;
}

.box {
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 3px;
  height: auto;
  background: #af1b3f;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.b1 {
  top: 80px;
  left: calc(50% - 270px);
}

.b2 {
  top: 386px;
  left: calc(50% + 270px);
}

.b3 {
  top: 692px;
  left: calc(50% - 270px);
}

.b4 {
  top: 1000px;
  left: calc(50% + 270px);
}

.box p {
  margin-top: 20px;
}

.btn {
  display: block;
  background: #af1b3f;
  border: 1px solid #ffffff;
  padding: 10px;
  width: 120px;
  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .ligne {
    position: relative;
    left: 200px;
  }
  .rond {
    left: calc(50% + 200px);
  }
  .box {
    left: calc(50% - 50px);
  }
}
*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 2em;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

em {
  opacity: 0.7;
}

.underline {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-position: under;
}

div.social-medias {
  position: fixed;
  bottom: 0px;
  left: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  opacity: 0.3;
}

span.line-social {
  border: 1px solid #ffffff;
  height: 6rem;
  width: 0.1rem;
}

header {
  padding: 1.5rem 2rem 1.5rem 2rem;
  height: 10vh;
  height: 10svh;
}
header nav img {
  height: 60px;
  width: 80px;
  margin-left: 1rem;
}
header nav #navigation {
  flex-basis: 500px;
}

#section-1 {
  height: 90vh;
  height: 90svh;
  gap: 5rem;
}
#section-1 div.info-container {
  display: flex;
  flex-direction: column;
  height: 420px;
  flex-basis: 310px;
  gap: 2rem;
}
#section-1 div.info-container div.header-info {
  font-weight: 800;
}
#section-1 div.info-container div.header-info h1 {
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-position: under;
}
#section-1 div.info-container div.header-info p {
  margin-top: 0.5rem;
}
#section-1 div.info-container p.about-description {
  width: 300px;
  text-align: justify;
}
#section-1 div.info-container a.box-style {
  display: flex;
  justify-content: center;
  background: #af1b3f;
  padding: 1rem 6.5rem;
  border: 0.188rem solid #ffffff;
  border-radius: 1rem;
}

img.personal-photo {
  height: 520px;
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

span.special-word {
  color: #af1b3f;
}

#section-2 h1 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */